*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#a28089;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.center{
    justify-content:center;
}

h1{
    color:white;
}

.level-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:10px;
    max-width:400px;
}

.level-grid button{
    padding:10px;
    font-weight:bold;
    cursor:pointer;
}

.top-bar{
    display:flex;
    gap:20px;
    align-items:center;
    color:white;
}

.game{
    width:100%;
    max-width:600px;
    display:grid;
    gap:10px;
}

.game div{
    aspect-ratio:3/4;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2em;
    border:2px solid black;
    border-radius:8px;
    cursor:pointer;
    background:#e5e5f7;
}

.cardback{
    opacity:0.8;
    background-image: linear-gradient(135deg,#444cf7 25%,transparent 25%),
    linear-gradient(225deg,#444cf7 25%,transparent 25%),
    linear-gradient(45deg,#444cf7 25%,transparent 25%),
    linear-gradient(315deg,#444cf7 25%,#e5e5f7 25%);
    background-size:10px 10px;
}
